---
permalink: "sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.baseUrl }}/index.html</loc><lastmod>{{ site.buildDate }}</lastmod></url>
  <url><loc>{{ site.baseUrl }}/daikin.html</loc><lastmod>{{ site.buildDate }}</lastmod></url>
  <url><loc>{{ site.baseUrl }}/value.html</loc><lastmod>{{ site.buildDate }}</lastmod></url>
</urlset>
